.edit-form__popup {
	padding: 34px 36px 37px;
	width: 100%;
	max-width: 430px;
	height: 100%;
	max-height: 330px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	box-sizing: border-box;
	transition: .2s;
}

@media screen and (max-width: 578px) {
	.edit-form__popup {
		padding: 25px 22px;
		max-width: 282px;
		max-height: 322px;
	}
}